*{
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{ 

            background-color:#222222;
            padding: 18px 0 19px 0;
}

.container{
            max-width: 1160px;
            width: 100%;
            padding: 0 10px 0 10px;
            margin: 0 auto;
}

.header__container{
            display: flex;
            justify-content: space-between;
}

.header__logo{
            margin: 0 41px 0 0;
}
.header__nav a:not(:last-child){
            margin: 0 33px 0 0;
}
.header__nav{
    display: flex;

}

.menu{
    list-style: none;
    color: #6F6E6E;
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.menu_level1{
    list-style: none;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #F16D7F; 
margin-top: 24px;
text-decoration: none;
}

.menu__level2{
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    color:#6F6E6E ;
    font-style: normal;
    line-height: 17px;
    margin-top: 11px;
}

.menu:hover .menu__nav{
    display: block;
}


.menu__nav{
    position: absolute;
width: 232px;
height: 764px;
background: #FFFFFF;
display: none;
}

.promo{
            background-color: #F1E4E6;
}

.promo__container{
            min-height: 764px;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            background: url(img/bbman.png) no-repeat;
            background-position: -227px bottom;
}

.promo_text{
            max-width: 377px;
            width: 50%;
            border-left: 12px solid #F16D7F;
            padding: 0 0 0 30px;
            height: 93px;
            margin-top: 290px;
            margin-right: 33px;
            box-sizing: content-box;
}
.promo_text h1{
            margin: 0;
            padding: 0;
            color: #222222;
            font-size: 48px;


}

.promo_text h1 span{
            font-size: 29px;

}
.promo__decor {
            color: #F16D7F;
            font-size: 29px;
}

.product__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 95px;
}

.product__card {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 360px;
    height: 260px;
    flex-direction: column;
}
.product__card:not(:last-child){
    width: 31%;

}
.product__card:last-child{
    width: 100%;
    max-height: 180px;
}
.product__card h2, .product__card span{
    display: block;
    justify-content: center;
    text-align: center;
}

.woman {
    background-image: url(img/woman.jpg);
background-position: center;

}
.man{
    background-image: url(img/Group\ 37.jpg);
    
}
.kids{
    background-image: url(img/kids.jpg);
}
.accesories{
    background-image: url(img/accessories.jpg);
    
}

.style{
    color: #F16D7F;
    text-decoration: none;
}
.pd__color{
    color: white;
}

.item__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.item__box{
    justify-content: center;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}
.item__text{
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;
margin-bottom: 6px;
}

.item__words{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
}

.item__card {
    display: flex;
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    display: block;               
}
.cards{
    display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: left;
                gap: 30px;
}

.card__ph{
    width: 360px;
    display: flex;
    flex-flow: column wrap;
    margin: 0px;
    position: relative;
}

.title{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.content__txt{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price-tag{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.content{
    width: 314px;
    padding-left: 17px;
}

.card__ph:hover .overlay {
    opacity: 1;
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(58, 56, 56, 0.83);
    display: block;
    justify-content: center;
    align-items: center;
  height: 420px;
    opacity: 0;
    transition: 0.5s;
  }

  .btn{
      width: 139px;
      
      border: 1px solid #FFFFFF;
      font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
padding-top: 13px;
padding-bottom: 14px;
margin-top: 188px;
    margin-left: 111px;
    background: none;
    
  }

  .button{
    Width: 211px;
    Height: 47px;
    background-color: white;;
    margin-top: 48px;
    margin-bottom: 95.5px;
    border: 1px solid #F26376;
    text-decoration: none;
    background-color: #F26376;

}
.bt_text{
    color:white;
    text-align: center;
    

}

.delivery{
    background-color: #222224;;  

}
.delivery_container{

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;
    align-items: baseline;
}
.section__txt{
    color: #FBFBFB;;
    font-weight: normal;  
    font-style: normal;
    font-size: 19.96px;
    font-family: sans-serif;
}
.section__info{
    display: block;
    justify-content: center;
    text-align: center;
}
.info{
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    font-style: normal;
    max-width: 360px;
}

.subscribe{
background-image: url(img/subscribe.png);  

}

.subscribe__container{
min-height: 448px;
display: flex;
justify-content: space-around;
text-align: -webkit-center;
align-items: baseline;
padding-top: 86px;

}
.sub__txt{
font-family: Lato;
font-style: italic;
font-size: 20px;
color: #222224;
text-align: center;
}

.serif{
font-family: sans-serif;
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.sub__mail, .sub__btn{
    padding: 20px;
}

.post_form{
    display: flex;
    list-style: none;
}


.sub__mail{
    border-radius: 20px 0 0 20px;
    background: #E1E1E1;
    border: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #222224;
    opacity: 0.67;
}
.sub__mail:focus{
    outline: none;
    background-color: thistle;
}

.sub__btn{

    border-radius: 0 20px 20px 0;
    background: #F16D7F;
    border: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}
.promotion{

    font-size: 18px;
    font-weight: normal;
    color: #222224;
}
.footer{
    background-color: black;
    padding: 18px 0 19px 0;
}
.copy{
    color: white;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px){
     
    .product__container{
        display: flex;
        flex-wrap: wrap; 
        gap: 30px;
        padding: 0;

    }

    .promo_text{
        max-width: 236px;

    }

    .promo_text h1{
        font-size: 33px;
    }

    .product__card:not(:last-child){
        width: 30%;

    }

    .item__container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    .button{
        background: white;
    }
    .bt_text{
        color: #F26376;
    }
    
    .delivery_container{
         flex-direction: column;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 104px;
        padding-bottom: 104px;
        gap: 30px;
        align-items: center;
}

.subscribe__container{
    min-height: 448px;
    display: flex;
    justify-content: space-around;
    text-align: -webkit-center;
    align-items: baseline;
    padding-top: 86px;
    flex-direction: column;
    align-items: center;
}
}

@media(max-width: 425px){
    .promo__container{
       display: flex;
        background: none; 
        align-items: center;
    justify-content: center;
    min-height: 363px;
    padding-left: 56px;
        
}

.promo_text{
    width: 90%;
    border-left: 12px solid #F16D7F;
    padding: 0 0 0 15px;
    margin-top: 146px;
    margin-bottom: 149px;
    height: 66px;
}


.product__container{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    

}

.promo_text h1 span{
    font-style: normal;
font-size: 20px;
line-height: 24px;
}

.product__card:not(:last-child){
    width: 100%;

}

.accesories{
    background-image: url(img/accessories.jpg);
background-size: cover;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 43px;

}

.subscribe__container{
    min-height: 550px;
    display: flex;
    justify-content: space-around;
    text-align: -webkit-center;
    align-items: baseline;
    padding-top: 86px;
    flex-direction: column;
    align-items: center;
}

.subscribe{
    background-size: cover;

}

.sub__txt{
    width: 343px;
}
.sub{
    width: 343px;
}
.promotion {
    font-size: 14px;
}

.hidden{
    display: none;
}

}
